.item_children {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  row-gap: 20px;
  overflow: scroll;
  scroll-padding-bottom: 25px;
  padding: 10px 10px 25px;
}
.item_child {
  width: 100%;
  position: relative;
}
.category_item_link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-medium-gay);
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.category_item_link img {
  width: 60px;
  height: 60px;
}
.image_loading_placeholder {
  display: block;
}
.category_item_link p {
  line-height: 12px;
  height: 26px;
  overflow: hidden;
  padding: 0px 5px;
}
